In [2]:
import numpy as np
import pandas as pd

In [4]:
# df = pd.read_csv('2017_cdqt_data.txt', sep='\t', skiprows=(0), header=(0), low_memory=False)
df = pd.read_csv('2017_cdqt_data.txt', sep='\t', header=0, low_memory=False)

In [30]:
dfa = df[df['CENSUS_CHAPTER']==2]

In [31]:
dfb = dfa[dfa['AGG_LEVEL_DESC']=='COUNTY']

In [32]:
dfb['SECTOR_DESC'].unique()

array(['ECONOMICS', 'CROPS', 'ANIMALS & PRODUCTS', 'ENVIRONMENTAL',
       'DEMOGRAPHICS'], dtype=object)

In [33]:
dfc = dfb[dfb['SECTOR_DESC']=='ANIMALS & PRODUCTS']

In [40]:
dfd = dfc[dfc['COMMODITY_DESC'].str.startswith('CATTLE')]
dfe = dfd[dfd['CENSUS_TABLE']==1]

In [42]:
dfe['SHORT_DESC'].unique()

array(['CATTLE, INCL CALVES - OPERATIONS WITH INVENTORY',
       'CATTLE, INCL CALVES - INVENTORY',
       'CATTLE, COWS, BEEF - OPERATIONS WITH INVENTORY',
       'CATTLE, COWS, BEEF - INVENTORY',
       'CATTLE, COWS, MILK - OPERATIONS WITH INVENTORY',
       'CATTLE, COWS, MILK - INVENTORY',
       'CATTLE, INCL CALVES - OPERATIONS WITH SALES',
       'CATTLE, INCL CALVES - SALES, MEASURED IN HEAD'], dtype=object)

In [43]:
dff = dfe[dfe['SHORT_DESC']=='CATTLE, INCL CALVES - INVENTORY']
dff

,CENSUS_CHAPTER,CENSUS_TABLE,CENSUS_ROW,CENSUS_COLUMN,SECTOR_DESC,SHORT_DESC,COMMODITY_DESC,AGG_LEVEL_DESC,STATE_FIPS_CODE,STATE_ALPHA,STATE_NAME,COUNTY_CODE,COUNTY_NAME,DOMAINCAT_DESC,VALUE
129664,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,1,AL,ALABAMA,1.0,AUTAUGA,NaN,"16,466"
129665,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,2,AK,ALASKA,10.0,ALEUTIAN ISLANDS,NaN,"11,414"
129666,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,4,AZ,ARIZONA,1.0,APACHE,NaN,"38,995"
129667,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,5,AR,ARKANSAS,1.0,ARKANSAS,NaN,"2,637"
129668,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,6,CA,CALIFORNIA,1.0,ALAMEDA,NaN,"18,524"
129669,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,8,CO,COLORADO,1.0,ADAMS,NaN,"14,986"
129670,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,9,CT,CONNECTICUT,1.0,FAIRFIELD,NaN,526
129671,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,10,DE,DELAWARE,1.0,KENT,NaN,"7,213"
129672,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,12,FL,FLORIDA,1.0,ALACHUA,NaN,"45,144"
129673,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,13,GA,GEORGIA,1.0,APPLING,NaN,"9,332"
129674,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,15,HI,HAWAII,1.0,HAWAII,NaN,"98,851"
129675,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,16,ID,IDAHO,1.0,ADA,NaN,"52,082"
129676,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,17,IL,ILLINOIS,1.0,ADAMS,NaN,"37,868"
129677,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,18,IN,INDIANA,1.0,ADAMS,NaN,"28,913"
129678,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,19,IA,IOWA,1.0,ADAIR,NaN,"47,356"
129679,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,20,KS,KANSAS,1.0,ALLEN,NaN,"30,348"
129680,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,21,KY,KENTUCKY,1.0,ADAIR,NaN,"42,162"
129681,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,22,LA,LOUISIANA,1.0,ACADIA,NaN,"10,759"
129682,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,23,ME,MAINE,1.0,ANDROSCOGGIN,NaN,"6,853"
129683,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,24,MD,MARYLAND,1.0,ALLEGANY,NaN,"3,557"
129684,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,25,MA,MASSACHUSETTS,1.0,BARNSTABLE,NaN,78
129685,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,26,MI,MICHIGAN,1.0,ALCONA,NaN,"3,300"
129686,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,27,MN,MINNESOTA,1.0,AITKIN,NaN,"8,615"
129687,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,28,MS,MISSISSIPPI,1.0,ADAMS,NaN,"3,177"
129688,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,29,MO,MISSOURI,1.0,ADAIR,NaN,"38,006"
129689,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,30,MT,MONTANA,1.0,BEAVERHEAD,NaN,"126,752"
129690,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,31,NE,NEBRASKA,1.0,ADAMS,NaN,"66,267"
129691,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,32,NV,NEVADA,1.0,CHURCHILL,NaN,"60,209"
129692,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,33,NH,NEW HAMPSHIRE,1.0,BELKNAP,NaN,"1,545"
129693,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,34,NJ,NEW JERSEY,1.0,ATLANTIC,NaN,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132697,2,1,42,226,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,449.0,TITUS,NaN,"28,573"
132698,2,1,42,227,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,451.0,TOM GREEN,NaN,"39,973"
132699,2,1,42,228,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,453.0,TRAVIS,NaN,"19,151"
132700,2,1,42,229,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,455.0,TRINITY,NaN,"19,464"
132701,2,1,42,230,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,457.0,TYLER,NaN,"14,052"
132702,2,1,42,231,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,459.0,UPSHUR,NaN,"50,499"
132703,2,1,42,232,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,461.0,UPTON,NaN,"4,660"
132704,2,1,42,233,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,463.0,UVALDE,NaN,"42,944"
132705,2,1,42,234,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,465.0,VAL VERDE,NaN,"9,165"
132706,2,1,42,235,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,467.0,VAN ZANDT,NaN,"89,422"
132707,2,1,42,236,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,469.0,VICTORIA,NaN,"49,146"
132708,2,1,42,237,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,471.0,WALKER,NaN,"38,271"
132709,2,1,42,238,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,473.0,WALLER,NaN,"47,626"
132710,2,1,42,239,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,475.0,WARD,NaN,"4,179"
132711,2,1,42,240,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,477.0,WASHINGTON,NaN,"67,673"
132712,2,1,42,241,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,479.0,WEBB,NaN,"46,807"
132713,2,1,42,242,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,481.0,WHARTON,NaN,"57,475"
132714,2,1,42,243,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,483.0,WHEELER,NaN,"59,431"
132715,2,1,42,244,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,485.0,WICHITA,NaN,"39,811"
132716,2,1,42,245,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,487.0,WILBARGER,NaN,"43,234"
132717,2,1,42,246,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,489.0,WILLACY,NaN,"10,670"
132718,2,1,42,247,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,491.0,WILLIAMSON,NaN,"78,853"
132719,2,1,42,248,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,493.0,WILSON,NaN,"86,875"
132720,2,1,42,249,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,495.0,WINKLER,NaN,"6,109"
132721,2,1,42,250,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,497.0,WISE,NaN,"80,744"
132722,2,1,42,251,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,499.0,WOOD,NaN,"44,528"
132723,2,1,42,252,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,501.0,YOAKUM,NaN,"9,112"
132724,2,1,42,253,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,503.0,YOUNG,NaN,"38,181"
132725,2,1,42,254,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,505.0,ZAPATA,NaN,"17,188"
132726,2,1,42,255,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,48,TX,TEXAS,507.0,ZAVALA,NaN,"50,345"

In [45]:
df2 = dff[dff['STATE_ALPHA']=='NY'][['STATE_ALPHA', 'COUNTY_NAME', 'VALUE']]
df2

       STATE_ALPHA  COUNTY_NAME    VALUE
129695          NY       ALBANY    6,814
129745          NY     ALLEGANY   29,319
129843          NY       BROOME   12,782
129891          NY  CATTARAUGUS   36,651
129938          NY       CAYUGA   94,427
129984          NY   CHAUTAUQUA   43,922
130029          NY      CHEMUNG    6,384
130074          NY     CHENANGO   27,474
130118          NY      CLINTON   33,373
130162          NY     COLUMBIA   16,374
130206          NY     CORTLAND   27,977
130249          NY     DELAWARE   27,536
130292          NY     DUTCHESS    7,710
130335          NY         ERIE   27,100
130375          NY        ESSEX    5,820
130415          NY     FRANKLIN   33,546
130454          NY       FULTON    3,108
130493          NY      GENESEE   60,205
130532          NY       GREENE    2,632
130608          NY     HERKIMER   22,547
130646          NY    JEFFERSON   55,236
130718          NY        LEWIS   60,565
130753          NY   LIVINGSTON   57,008
130789          NY      MADISON   39,518
130825          NY       MONROE    7,156
130861          NY   MONTGOMERY   26,092
130897          NY       NASSAU      (D)
130966          NY      NIAGARA   21,190
131001          NY       ONEIDA   37,499
131035          NY     ONONDAGA   47,544
131069          NY      ONTARIO   60,681
131103          NY       ORANGE    7,889
131137          NY      ORLEANS    9,815
131169          NY       OSWEGO   11,537
131202          NY       OTSEGO   23,181
131235          NY       PUTNAM      178
131267          NY       QUEENS      (D)
131298          NY   RENSSELAER   11,003
131360          NY     ROCKLAND      (D)
131391          NY  ST LAWRENCE   74,225
131422          NY     SARATOGA   21,150
131453          NY  SCHENECTADY    1,115
131483          NY    SCHOHARIE   15,739
131513          NY     SCHUYLER   14,888
131543          NY       SENECA   25,514
131573          NY      STEUBEN   75,923
131603          NY      SUFFOLK      339
131633          NY     SULLIVAN    4,402
131663          NY        TIOGA   16,211
131692          NY     TOMPKINS   21,502
131721          NY       ULSTER    2,078
131747          NY       WARREN      134
131774          NY   WASHINGTON   52,108
131800          NY        WAYNE   17,835
131826          NY  WESTCHESTER      212
131852          NY      WYOMING  103,228
131878          NY        YATES   30,953

In [24]:
df6 = df5[df5['STATE_ALPHA']=='NY']

In [25]:
df6[df6['COUNTY_NAME']=='ALBANY']

,CENSUS_CHAPTER,CENSUS_TABLE,CENSUS_ROW,CENSUS_COLUMN,SECTOR_DESC,SHORT_DESC,COMMODITY_DESC,AGG_LEVEL_DESC,STATE_FIPS_CODE,STATE_ALPHA,STATE_NAME,COUNTY_CODE,COUNTY_NAME,DOMAINCAT_DESC,VALUE
129695,2,1,42,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,36,NY,NEW YORK,1.0,ALBANY,NaN,"6,814"
1453324,2,11,3,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,36,NY,NEW YORK,1.0,ALBANY,NaN,"6,814"
1460274,2,11,7,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,36,NY,NEW YORK,1.0,ALBANY,"INVENTORY OF CATTLE, INCL CALVES: (1 TO 9 HEAD)",177
1467209,2,11,11,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,36,NY,NEW YORK,1.0,ALBANY,"INVENTORY OF CATTLE, INCL CALVES: (10 TO 19 HEAD)",(D)
1474116,2,11,15,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,36,NY,NEW YORK,1.0,ALBANY,"INVENTORY OF CATTLE, INCL CALVES: (20 TO 49 HEAD)","1,484"
1480999,2,11,19,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,36,NY,NEW YORK,1.0,ALBANY,"INVENTORY OF CATTLE, INCL CALVES: (50 TO 99 HEAD)","1,338"
1487719,2,11,23,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,36,NY,NEW YORK,1.0,ALBANY,"INVENTORY OF CATTLE, INCL CALVES: (100 TO 199 ...",486
1494192,2,11,27,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,36,NY,NEW YORK,1.0,ALBANY,"INVENTORY OF CATTLE, INCL CALVES: (200 TO 499 ...","1,126"
1500112,2,11,31,2,ANIMALS & PRODUCTS,"CATTLE, INCL CALVES - INVENTORY",CATTLE,COUNTY,36,NY,NEW YORK,1.0,ALBANY,"INVENTORY OF CATTLE, INCL CALVES: (500 OR MORE...",(D)